* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #efcfa0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: #532200;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 500px;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #efcfa0;
}

.Group {
  margin-bottom: 20px;
}

.Group label {
  font-size: 14px;
  color: #efcfa0;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.Group input[type="text"],
.Group input[type="email"],
.Group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  color: black;
  outline: none;
}

.Group input[type="text"]:focus,
.Group input[type="email"]:focus,
.Group textarea:focus {
  border-color: #e1a140;
  border: 3px solid #e1a140;
}

.Group textarea {
  resize: vertical;
  min-height: 100px;
}

#submitBtn {
  background-color: #e1a140;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

#submitBtn:hover {
  background-color: #914110;
  color: #e1a140;
}

/* Responsive Design */
@media (max-width: 600px) {
  .form-container {
    padding: 20px;
  }
}
